<div class="container">
    <div class="row">
        <div class="col-10">Comment #</div>
        <div class="col-2">Actions</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2">
            <div class="container">
                <div class="row"><img src="/assets/user.png"></div>
                <div class="row mt-2">User Name</div>
            </div>
        </div>

        <div class="col-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut ante eros.
            In tincidunt tincidunt magna vel sollicitudin. Donec semper lorem at neque elementum elementum.</div>
        <div class="col-2">
            <div class="container">
                <div class="row"><i id='clickableAwesomeFont' class="fa fa-chevron-up"></i></div>
                <div class="row mt-2"><i id='clickableAwesomeFont' class="fa fa-chevron-down"></i></div>
                <div class="row mt-2"><h1 style="font-size:13px">Date</h1></div>
            </div>
        </div>
    </div>
</div>