
<div class="card">
<div class="card-body">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>{{appEvent.eventName}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img height="200" width="200" src="/assets/eventPhoto.jpg" alt="{{appEvent.eventName}}">
            </div>
            <div class="col">Opis wydarzenia.</div>
            <div class="col">
                <p>Participants</p>
            </div>
        </div>
    </div>
    
</div>
</div>