
<div class="card">
<div class="card-body">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 >{{appEvent.eventName}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img height="200" width="200" src="/assets/eventPhoto.jpg" alt="{{appEvent.eventName}}">
            </div>
            Description:
            <div class="col">{{appEvent.eventDescription}}</div>
        </div>
        <div class="row pt-3">
            <app-comment-card class="border"></app-comment-card>
            <app-comment-card class="border"></app-comment-card>
            <app-comment-card class="border"></app-comment-card>
        </div>
    </div>
    
</div>
</div>