<div *ngIf="!createEventMode">
    <button (click)="createEventToggle()" class="btn btn-primary ml-3 mb-3"> Create Event </button>
    <div *ngFor="let appEvent of appEvents" class="container card" >
        <app-event-card [appevent]="appEvent"></app-event-card>
    </div>
</div>

<div *ngIf="createEventMode">
    <div class="row justify-content-center">
        <div class="col-4">
            <app-create-event (cancelCreation)="cancelCreationMode($event)"></app-create-event>
        </div>
    </div>
</div>
